{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">

        {% if section.description %}
            <meta name="description" content="{{ section.description | safe }}">
            {% if current_url %}
                <link rel="canonical" href="{{ current_url | safe }}">
            {% endif %}
            <meta property="og:locale" content="en_GB">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ section.title | safe }}">
            <meta property="og:description" content="{{ section.description | safe }}">
            {% if current_url %}
                <meta property="og:url" content="{{ current_url | safe }}">
            {% endif %}
            <meta property="og:site_name" content="{{ config.title | safe }}">
            <meta name="twitter:description" content="{{ section.description | safe }}">
            <meta name="twitter:title" content="{{ section.title | safe }}">
            <meta name="twitter:site" content="@mufeedvh">
            <meta name="twitter:creator" content="@mufeedvh">
        {% endif %}

        {% if page.description %}
            <meta name="description" content="{{ page.description | safe }}">
            {% if current_url %}
                <link rel="canonical" href="{{ current_url | safe }}">
            {% endif %}
            <meta property="og:locale" content="en_GB">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ page.title | safe }}">
            <meta property="og:description" content="{{ page.description | safe }}">
            {% if page.extra.og_image %}
                <meta property="og:image" itemprop="image" content="{{ page.extra.og_image | safe }}">
            {% endif %}
            {% if current_url %}
                <meta property="og:url" content="{{ current_url | safe }}">
            {% endif %}
            <meta property="og:site_name" content="{{ config.title | safe }}">
            <meta name="twitter:description" content="{{ page.description | safe }}">
            <meta name="twitter:title" content="{{ page.title | safe }}">
            <meta name="twitter:site" content="@mufeedvh">
            <meta name="twitter:creator" content="@mufeedvh">
        {% else %}
            {% if not section.description %}
                <meta name="description" content="{{ config.description | safe }}">
                {% if current_url %}
                    <link rel="canonical" href="{{ current_url | safe }}">
                {% endif %}
                <meta property="og:locale" content="en_GB">
                <meta property="og:type" content="website">
                <meta property="og:title" content="{{ config.title | safe }}">
                <meta property="og:description" content="{{ config.description | safe }}">
                {% if current_url %}
                    <meta property="og:url" content="{{ current_url | safe }}">
                {% endif %}
                <meta property="og:site_name" content="{{ config.title | safe }}">
                <meta name="twitter:description" content="{{ config.description | safe }}">
                <meta name="twitter:title" content="{{ config.title | safe }}">
                <meta name="twitter:site" content="@mufeedvh">
                <meta name="twitter:creator" content="@mufeedvh">            
            {% endif %}
        {% endif %}

        <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

        <link rel="preload" href="/fonts/CMU-Serif-Roman.ttf" as="font" type="font/ttf" crossorigin="anonymous">
        <link rel="preload" href="/fonts/Roboto-Light.ttf" as="font" type="font/ttf" crossorigin="anonymous">
        <link rel="preload" href="/fonts/JetBrainsMono-Light.ttf" as="font" type="font/ttf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        <title>{% block htmltitle %}{{ config.title }} :: Home{% endblock htmltitle %}</title>

        {% if config.generate_rss %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
        {% endif %}
    </head>
    <body>
        {% block body %}
            <div class="section" id="splash">
                {% if config.extra.sam_menu %}
                    {% for link in config.extra.sam_menu %}
                        <div class="big-link">
                            <a href="{{ link.link }}">
                                {{ link.text }}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for current in section.subsections %}
                        {% set current = get_section(path=current) %}
                        <div class="big-link">
                            <a href="{{ current.permalink }}">
                                {{ macros::title_or_last(component=current) }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                <div>
                    <a href="https://github.com/mufeedvh" aria-label="Link to my GitHub profile" target="_blank" rel="noopener"><span class="fa-brands fa-github"></span></a>
                    &nbsp
                    <a href="https://twitter.com/mufeedvh" aria-label="Link to my Twitter profile" target="_blank" rel="noopener"><span class="fa-brands fa-twitter"></span></a>
                    &nbsp
                    <a href="/rabbithole/" aria-label="Link to more useless pages on my website">🐇🕳️</a>
                    <br><br>
                    <p class="art-credits" style="display: none;">art by <a href="https://www.themuestudio.com/invitationtodaydream" target="_blank">mue</a>.</p>
                </div>
            </div>
            <style>@media (min-width: 961px){body{background-image: url('invitationtodaydream.jpg'); background-position: 100% 50%; background-size: 50%; background-repeat: no-repeat;}.art-credits{display: block !important;}}</style>
        {% endblock body %}
    </body>
</html>
