{% extends "base.html" %}

{% block title %}
    {% if page %}
        {% if page.extra.blog %}
            {{ page.title }}
        {% else %}
            {{ page.title }} - {{ config.title }}
        {% endif %}
    {% elif section %}
        {% if section.extra.blog %}
            {{ section.title }}
        {% else %}
            {{ section.title }} - {{ config.title }}
        {% endif %}
    {% else %}
        {{ config.title }}
    {% endif %}
{% endblock title %}

{% block content %}
    {% if page %}
        {% if not page.extra.no_header %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.date %}
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
                <span>{{ page.date | date(format="%B %d, %Y") }}</span>
                {% if page.taxonomies.tags %}
                    <div>
                        {% for tag in page.taxonomies.tags %}
                            <span class="tag">
                                <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                                    #{{ tag }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <hr>
        {% endif %}
        {{ page.content | safe }}
    {% elif section %}
        <h1>{{ section.title }}</h1>
        {% if section.content %}
            {{ section.content | safe }}
        {% endif %}
        {% if section.pages %}
            <ul>
            {% for page in section.pages %}
                <li>{{ page.date | date(format="%a %b %e, %Y") }} - <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <a href="/">&#8592; Back to home</a>
{% endblock content %}