@font-face {
    font-family: 'CMU Serif Roman';
    font-style: normal;
    font-weight: 400;
    src: local('CMU Serif Roman'), local('CMU Serif Roman'), url(fonts/CMU-Serif-Roman.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto Light'), url(fonts/Roboto-Light.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono Light';
    font-style: normal;
    font-weight: 400;
    src: local('JetBrains Mono Light'), local('JetBrains Mono Light'), url(fonts/JetBrainsMono-Light.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Canela Deck';
    font-style: normal;
    font-weight: 400;
    src: local('Canela Deck'), local('Canela Deck'), url(fonts/CanelaDeck-Regular.otf) format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Canela Text Thin';
    font-style: normal;
    font-weight: 400;
    src: local('Canela Text Thin'), local('Canela Text Thin'), url(fonts/CanelaText-Thin.otf) format('opentype');
    font-display: swap;
}